<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary mt-3" data-bs-theme="dark" style="border-radius: 10px;">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">      
      <img src="/assets/logo.png" style="height: 40px; border-radius: 50%;" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/']" routerLinkActive="router-link-active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/orders']" routerLinkActive="router-link-active" >Siparişlerim</a>
        </li>
      </ul>

      
      <ul class="navbar-nav me-1 mb-2 mb-lg-0 float-end">
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/shopping-carts']" routerLinkActive="router-link-active" >Sepetim</a>
        </li>
        
        <div class="dropdown">
          <a
            href="#"
            class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
            id="dropdownUser1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="/assets/logo.png"
              alt=""
              width="32"
              height="32"
              class="rounded-circle me-2"
            />
          </a>
          <ul
            class="dropdown-menu dropdown-menu-dark text-small shadow"
            aria-labelledby="dropdownUser1"
          >              
            <li><a class="dropdown-item">IEA ADMIN</a></li>
            <li><a class="dropdown-item" routerLink="/dashboard">Dashboard</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" routerLink="/">Sign out</a></li>
          </ul>
        </div>          
      </ul>

    </div>
  </div>
</nav>